# Compiled object files
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build directories
/Debug/
/Release/
*.layout
*.depend
/Survivors/x64
/.vs
/x64/
\x64\
# Carpeta oculta de Visual Studio
.vs/

# Archivos de configuración del usuario (personales)
*.user
*.suo

# Archivos de compilación y binarios
*.exe
*.obj
*.pdb
*.ilk
*.idb
*.ipch
*.aps
*.ncb
*.log
*.tlog
*.lastbuildstate
*.cache
*.db

# Carpetas de salida de compilación
x64/
Debug/
Release/

# Archivos de filtros de VS (opcionales, pero suelen evitarse)
*.vcxproj.filters
